@import url("https://use.typekit.net/spf3upy.css");
footer {
  width: 100%;
}

#mobileFooterContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 60px;
  text-align: center;
  background-image: url("/assets/images/mobile-footer.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
#mobileFooterContent .copy {
  font-family: "inter-variable", sans-serif;
  font-variation-settings: "wght" 400, "slnt" 0;
  font-size: 14px;
}
#mobileFooterContent .made {
  font-family: "inter-variable", sans-serif;
  font-variation-settings: "wght" 300, "slnt" 0;
  font-size: 12px;
  color: #00B894;
}
#mobileFooterContent .email {
  font-family: "inter-variable", sans-serif;
  font-variation-settings: "wght" 600, "slnt" 0;
  font-size: 18px;
  color: #6C5CE7;
}
#mobileFooterContent > #socials-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 10px;
}

#desktopFooterContent {
  display: none;
}

@media (min-width: 600px) {
  footer {
    width: 100%;
    height: 426px;
    background-image: url("/assets/images/bottom-wave.svg");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  #mobileFooterContent {
    display: none;
  }
  #desktopFooterContent {
    font-family: "inter-variable", sans-serif;
    font-variation-settings: "wght" 700, "slnt" 0;
    font-size: 12px;
    color: rgba(173, 173, 173, 0.6666666667);
    letter-spacing: 2.5px;
    display: flex;
    width: calc(100% - 270px);
    margin: 80px 135px 135px;
  }
  #desktopFooterContent h2 {
    margin-bottom: 15px;
  }
  #infoSection {
    width: 50%;
  }
  #socials > #socials-container {
    display: flex;
    gap: 37px;
  }
  #socials > #socials-container img {
    width: 40px;
    height: 40px;
  }
  #infoLinks {
    margin-top: 40px;
  }
  #infoLinks > ul {
    font-family: "inter-variable", sans-serif;
    font-variation-settings: "wght" 300, "slnt" 0;
    font-size: 14px;
    letter-spacing: 0.25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-wrap: wrap;
    height: 100px;
  }
  #infoLinks > ul > li > a {
    text-decoration: none;
    color: #2D3436;
  }
  #infoLinks > ul > li > a:hover {
    border-bottom: 1px #2D3436 solid;
  }
  #contactSection {
    width: 50%;
  }
  #contactSection p {
    font-family: "inter-variable", sans-serif;
    font-variation-settings: "wght" 700, "slnt" 0;
    font-size: 32px;
    color: #6C5CE7;
  }
  #contactSection #form-container {
    margin-top: 45px;
  }
  input[type=text], input[type=email] {
    width: 270px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 18px;
    border: none;
    background-color: rgba(229, 228, 228, 0.501);
  }
  input[type=text]::placeholder, input[type=email]::placeholder {
    color: black;
    padding-left: 15px;
  }
  input[type=submit] {
    font-family: "inter-variable", sans-serif;
    font-variation-settings: "wght" 700, "slnt" 0;
    font-size: 24px;
    width: 170px;
    height: 80px;
    border-radius: 18px;
    border: none;
    color: #ffffff;
    background-color: #6C5CE7;
  }
  textarea {
    width: 370px;
    height: 80px;
    border-radius: 18px;
    border: none;
    background-color: rgba(229, 228, 228, 0.501);
    resize: none;
    color: #6C5CE7;
    padding-left: 15px;
    padding-top: 10px;
    font-weight: 700;
  }
  form section {
    display: flex;
    gap: 30px;
  }
  form #bottom-form {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=footer.css.map */
