@import "utilities/variables";

header {
    @include font-class("24", 700);

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    color: $dark-grey;
    box-shadow: $dp-2;

    > nav {
        position: absolute;
        display: none;
    }

    > button {
        @include font-class("18", 700);

        width: 128px;
        height: 40px;
        margin-right: 15px;
        border: none;
        border-radius: 8px;
        color: $secondary-color;
        background-color: $primary-color;
        
    }

    > #logo-group {
        display: flex;
        align-items: center;
        margin-left: 15px;

        > img {
            width: 40px;
            aspect-ratio: 1 / 1;
        } 
    }

}

@media (min-width: 600px) {
  header {
   
  }
}