@import "utilities/variables";

header {
    @include font-class("24", 700);

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    color: $dark-grey;
    box-shadow: $dp-2;
    z-index: 999;
    anchor-name: --header;

    > nav {
        display: none;
        position: absolute;
        position-anchor: --header;
        position-area: bottom center;
        z-index: 998;

      &.isDisplayed {
        display: block;
      }

      > ul {
        width: 100vw;

        > li {
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $secondary-color;
            border-bottom: $light-grey 1px solid;

            > a {
                @include font-class("18", 400);
                color: $primary-color;
                text-decoration: none;
            }
        }
      }
    }

    > button {
        @include font-class("18", 700);

        width: 128px;
        height: 40px;
        margin-right: 15px;
        border: none;
        border-radius: 8px;
        color: $secondary-color;
        background-color: $primary-color;
        
    }

    > #logo-group {
        display: flex;
        align-items: center;
        margin-left: 15px;

        > img {
            width: 40px;
            aspect-ratio: 1 / 1;
        } 
    }

}

#grid-icon {
  display: none;
}

#burger {
  display: inline;
}

.navGraphic {
  display: none;
}

@media (min-width: 992px) {

  header {
    @include font-class("48", 700);
    height: 96px;
    color: black;
    justify-content:  space-around;

    > nav {
      display: flex;
      position: relative;
      max-width: 50%;

      > ul {
        display: flex;
        flex-direction: row;

        > li {
          border: none;

          > a {
            @include font-class("14", 400);
            letter-spacing: 0.25px;
            color: $primary-color;

            &:hover {
              color: black;
              font-weight: 900;
            }
          }

          > svg {
            width: 9px;
            height: 100%;

            > circle {
              r: 3;
              cx: 50%;
              cy: 50%;
              fill: $dark-yellow;
            }
          }
        }
      }
    }

    > #logo-group {
        > img {
            width: 70px;
            aspect-ratio: 1 / 1;
        } 
    }

     > button {
        @include font-class("24", 700);

        width: 170px;
        height: 64px;
        border-radius: 40px;
    }
  }

  #grid-icon {
    display: inline;
  }

  #burger {
    display: none;
  }

  .navGraphic {
    display: inline;
    width: 9px;
  }
}