@import "utilities/variables";

#hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 420px;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-image: url("/assets/images/background-texture-mobile.svg");
    background-size: cover;
    background-position-y: -72px;
    background-repeat: no-repeat;

    > h1 {
        @include font-class("64", 900);
        line-height: 100%;
        letter-spacing: -1px;
        text-shadow: $text-shadow-white;
        anchor-name: --hero-text;

        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);

        > #second-line {
             @include font-class("48", 700);
             line-height: 56px;
             text-shadow: $text-shadow-white;
             position: relative;

             > .highlighted {
                color: $red-highlight;
                anchor-name: --highlight;

                &::after {
                    content: '';
                    position: absolute;
                    border-radius: 20px;
                    position-anchor: --highlight;
                    position-area: center center;
                    transform: translate(-5px, 20px);
                    height: 20px;
                    width: 95px;
                    background: $blue-green-underline;
                    z-index: -1;
                }
             }
        }

        > #third-line {
            @include font-class("24", 700);
            line-height: 36px;
            text-shadow: none;
        }
    }

    > #arrow-down-icon {
        position: absolute;
        top: 72%;
        left: 50%;
        transform: translateX(-50%);
        width: 64px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: #ffffffbd;
    }
}

@media (min-width: 992px) {
    #hero {
        background-image: url("/assets/images/desktop-bg.svg");
        background-position: center;
        height: 950px;

        > h1 {
            @include font-class("96", 900);
            width: 1000px;
            top: 15%;

            > #second-line {
                @include font-class("96", 900);

                > .highlighted {

                    &::after {
                        transform: translate(-8px, 35px);
                        height: 35px;
                        width: 200px;
                    }
                }
            }

            > #third-line {
                @include font-class("64", 700);
            }
        }

        > #arrow-down-icon {
            display: none;
        }
    }
}