@import "utilities/variables";

#pricing {
    display: flex;
    flex-direction: column;
    margin: 40px 15px 0;
    gap: 8px;

    > h2 {
        @include font-class("32", 700);
    }

    > p {
        @include font-class("24", 400);
        color: $light-grey;
        position: relative;

        > .highlighted {
                color: $primary-color;

                &::after {
                    content: '';
                    position: absolute;
                    border-radius: 20px;
                    bottom: -3px;
                    left: 78px;
                    height: 10px;
                    width: 95px;
                    background: $dark-yellow;
                    z-index: -1;
                }
        }
    }
}

#pricing-cards-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    width: 330px;
    padding: 24px;
    border-radius: 14px;
    box-shadow: $dp-2;
}