@import "utilities/variables";

#services {
    display: flex;
    flex-direction: column;
    margin: 40px 15px 0;

    > h2 {
        @include font-class("24", 700);
        line-height: 36px;
        letter-spacing: 0.25;
    }

    > p {
        @include font-class("18", 300);
        line-height: 35px;
    }
}

#services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 273px;
    gap: 7.5px;
    margin-top: 40px;

    > description {
        > .icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 52.5px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            margin-bottom: 18px;

            > img {
                width: 85%;
            }
        }

        > h3 {
            @include font-class("18", 700);
            letter-spacing: 0.19px;
            margin-bottom: 12px;
        }

        > p {
            @include font-class("13.5", 400);
            line-height: 12pxpx;
        }
    }

    > button {
        @include font-class("13.5", 700);
        color: $primary-color;
        width: 109.5px;
        height: 36px;
        border: 1px solid #adadadb6;
        border-radius: 5px;
        background-color: $secondary-color;
    }
}

@media (min-width: 992px) {
    #services {
        margin: 80px 135px;

        > h2 {
            @include font-class("32", 700);
        }

        > p {
            @include font-class("24", 300);
            line-height: 36px;
            margin-top: 36px;
            width: 80%;
        }
    }

    .services-card {
        width: 270px;
        height: 330px;

        > description {

            > .icon-container {
                width: 70px;
            }

            > h3 {
                @include font-class("24", 700);
                letter-spacing: 0.19px;
                margin-bottom: 12px;
            }

            > p {
                @include font-class("18", 400);
                line-height: 32px;
            }
        }

        > button {
            @include font-class("18", 700);
            color: $primary-color;
            width: 146px;
            height: 48px;
            border-radius: 13px;
        }
    }
}
